body {
    color: rgb(255, 255, 255);
    background-color: rgba(199, 31, 115, 0.048);
}

section {
    background: rgb(235, 18, 126);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
